<div class="mat-elevation-z8" *ngIf="dataSource.filteredData.length">
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="select">
      <th *matHeaderCellDef mat-header-cell>
        <mat-checkbox *ngIf="selection.isMultipleSelection()"
                      (change)="$event ? masterToggle() : null"
                      [aria-label]="checkboxLabel()"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      color="primary">
        </mat-checkbox>
      </th>
      <td *matCellDef="let row" class="static-column-size" mat-cell>
        <mat-checkbox (change)="$event ? selection.toggle(row) : null"
                      (click)="$event.stopPropagation()"
                      [aria-label]="checkboxLabel(row)"
                      [checked]="selection.isSelected(row)"
                      color="primary">
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> {{'COMPONENT_LIST.ID' | translate}} </th>
      <td mat-cell *matCellDef="let comp"> {{comp.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> {{'COMPONENT_LIST.NAME' | translate}} </th>
      <td mat-cell *matCellDef="let comp"> {{comp.name}} </td>
    </ng-container>

    <ng-container matColumnDef="mission">
      <th mat-header-cell *matHeaderCellDef> {{'COMPONENT_LIST.MISSION' | translate}}</th>
      <td mat-cell *matCellDef="let comp"> {{comp.mission ? comp.mission.name : ''}} </td>
    </ng-container>

    <ng-container matColumnDef="readyDate">
      <th mat-header-cell *matHeaderCellDef> {{'COMPONENT_LIST.READY_DATE' | translate}}</th>
      <td mat-cell *matCellDef="let comp"> {{comp.readyDate | date}} </td>
    </ng-container>

    <ng-container matColumnDef="readyToUse">
      <th mat-header-cell *matHeaderCellDef> {{'COMPONENT_LIST.READY_TO_USE' | translate}}</th>
      <td mat-cell *matCellDef="let comp"> {{comp.readyToUse}} </td>
    </ng-container>

    <ng-container matColumnDef="rocket">
      <th mat-header-cell *matHeaderCellDef> {{'COMPONENT_LIST.ROCKET' | translate}}</th>
      <td mat-cell *matCellDef="let comp"> {{comp.rocket ? comp.rocket.name : ''}} </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> {{'COMPONENT_LIST.COMPONENT_TYPE' | translate}}</th>
      <td mat-cell *matCellDef="let comp"> {{comp.type}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" [length]="dataSource.data.length" showFirstLastButtons></mat-paginator>
</div>

<app-alert *ngIf="!dataSource.filteredData.length">{{'NO_COMPONENTS'}}</app-alert>
