<div class="mat-elevation-z8" *ngIf="dataSource.filteredData.length">
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="select">
      <th *matHeaderCellDef mat-header-cell>
        <mat-checkbox *ngIf="selection.isMultipleSelection()"
                      (change)="$event ? masterToggle() : null"
                      [aria-label]="checkboxLabel()"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      color="primary">
        </mat-checkbox>
      </th>
      <td *matCellDef="let row" class="static-column-size" mat-cell>
        <mat-checkbox (change)="$event ? selection.toggle(row) : null"
                      (click)="$event.stopPropagation()"
                      [aria-label]="checkboxLabel(row)"
                      [checked]="selection.isSelected(row)"
                      color="primary">
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef class="static-column-size"> {{'MISSION_LIST.ID'|translate}} </th>
      <td mat-cell *matCellDef="let mission"> {{mission.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> {{'MISSION_LIST.NAME'|translate}} </th>
      <td mat-cell *matCellDef="let mission"> {{mission.name}} </td>
    </ng-container>

    <ng-container matColumnDef="destination">
      <th mat-header-cell *matHeaderCellDef> {{'MISSION_LIST.DESTINATION'|translate}}</th>
      <td mat-cell *matCellDef="let mission"> {{mission.destination}} </td>
    </ng-container>

    <ng-container matColumnDef="missionProgress">
      <th mat-header-cell *matHeaderCellDef> {{'MISSION_LIST.MISSION_PROGRESS'|translate}}</th>
      <td mat-cell *matCellDef="let mission"> {{mission.missionProgress}} </td>
    </ng-container>
    <ng-container matColumnDef="acceptReject">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let mission">
        <button mat-flat-button color="primary" (click)="accept()" >{{'MISSION_LIST.ACCEPT'|translate}}</button>
        <button mat-flat-button class="ms-2" (click)="reject()" (mouseleave)="disableRouting=false" (mouseenter)="disableRouting=true" color="warn">{{'MISSION_LIST.REJECT'|translate}}</button>
      </td>
    </ng-container>

    <ng-container matColumnDef="eta">
      <th mat-header-cell *matHeaderCellDef> {{'MISSION_LIST.ETA'|translate}}</th>
      <td mat-cell *matCellDef="let mission"> {{mission.eta | date: 'd.M.y H:mm:ss'}} </td>
    </ng-container>

    <ng-container matColumnDef="startedDate">
      <th mat-header-cell *matHeaderCellDef> {{'MISSION_LIST.STARTED_DATE'|translate}}</th>
      <td mat-cell *matCellDef="let mission"> {{mission.startedDate | date: 'd.M.y H:mm:ss'}} </td>
    </ng-container>

    <ng-container matColumnDef="finishedDate">
      <th mat-header-cell *matHeaderCellDef> {{'MISSION_LIST.FINISHED_DATE'|translate}}</th>
      <td mat-cell *matCellDef="let mission"> {{mission.finishedDate | date: 'd.M.y H:mm:ss'}} </td>
    </ng-container>

    <ng-container matColumnDef="archive">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let mission">
        <button mat-flat-button color="primary" *ngIf="!mission.result" (mouseenter)="disableRouting=true" (mouseleave)="disableRouting=false" (click)="archive(mission)">{{'MISSION_LIST.ARCHIVE' | translate}}</button>
      </td>
    </ng-container>

    <ng-container matColumnDef="isArchived">
      <th mat-header-cell *matHeaderCellDef>{{'MISSION_LIST.IS_ARCHIVED'|translate}}</th>
      <td mat-cell *matCellDef="let mission">
        {{mission.result ? 'true' : 'false'}}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let mission; columns: displayedColumns;"
        [class.cursor-pointer]="!disableRouting"
        [routerLink]="disableRouting ? null : (isManager ? ['/manager','missions', mission.id] : ['/astronaut','my-missions', mission.id] )"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" pageSize="5" [length]="dataSource.data.length" showFirstLastButtons></mat-paginator>
</div>

<app-alert *ngIf="!dataSource.filteredData.length">{{'MISSION_LIST.NO_MISSIONS' | translate}}</app-alert>
