.custom-breadcrumb {
  display: inline-block;
}

.custom-breadcrumb:first-child:before {
  display: none;
}

.custom-breadcrumb:before {
  content: '>';
  vertical-align: center;
  display: inline-block;
  margin: 0 10px 10px 8px;
  -webkit-font-smoothing: antialiased;
}

.breadcrumb-text {
  text-decoration: none !important;
  color: #2c2c2c;
}
