.info-alert {
  font-weight: bold;
  text-align: left;
  border: 1px #b3b3b3 solid;
  border-radius: 10px;
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.alert-icon {
  padding-right: 2rem;
}
