<mat-toolbar [ngStyle]="{'background': headerColor}" class="sticky-top header-container">
  <div class="header-part">
    <button *ngIf="authenticationService.currentUser" (click)="sidenav.toggle()" [ngStyle]="{'color': 'white'}" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>

    <p class="ml-3 mt-auto mb-auto">{{'APP_NAME' | translate}}</p>
  </div>

  <div class="header-part">
    <p *ngIf="authenticationService.currentUser" class="mt-auto mb-auto me-2">{{authenticationService.currentUser.name}}</p>
    <button *ngIf="authenticationService.currentUser" mat-flat-button (click)="onLogout()">{{'LOG_OUT' | translate}}</button>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [opened]="!!authenticationService.currentUser" [ngStyle]="{'background': sideMenuColor}" class="side-menu-size"
               fixedInViewport fixedTopGap="64">
    <app-side-menu [userRole]="authenticationService.getRole()"></app-side-menu>
  </mat-sidenav>
  <mat-sidenav-content id="content">
    <div [ngStyle]="{'min-height': 'calc(100vh - 64px - 100px)'}" id="content-wrap">
      <breadcrumbs *ngIf="authenticationService.currentUser"></breadcrumbs>
      <router-outlet></router-outlet>
    </div>
    <footer [ngStyle]="{'background': footerColor}" class="footer-content align-bottom">
      © {{currentYear}} Copyright: Martin Kostka, Martin Hořelka, Martin Kažimír, Tomáš Bouma
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
